.aside {
  padding: 24px 23px 51px 20px;
  background: #fff;
  border-radius: 12px;
  min-width: 315px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font: 700 16px/1.3 var(--font);
  color: #1B2124;
}

.arrowDown {
  width: 18px;
  height: 18px;
  transform: rotate(180deg);
}

.active .arrowDown {
  transform: rotate(0);
  transition: transform .2s ease;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: auto;
  max-height: 0;
  overflow: hidden;
  height: auto;
  overflow: hidden;
  transition: max-height .4s ease;
}

.active .items {
  max-height: 500px;
}