.button {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .1s ease, color .1s ease;
}

.button:disabled {
  opacity: .5;
  cursor: default;
}

.button.svground {
  border-radius: 50%;
}

.big {
  padding: 16px;
  border: 3px solid transparent;
}

.medium {
  padding: 12px;
  border: 3px solid transparent;
}

.small {
  padding: 10px;
  border: 2px solid transparent;
}

.xsmall {
  padding: 6px;
  border: 2px solid transparent;
}

.big.base {
  font: 600 16px/20px var(--font);
  padding: 10px 30px;
  gap: 8px;
}

.medium.base {
  font: 600 14px/17.5px var(--font);
  padding: 6px 22px;
  gap: 8px;
}

.small.base {
  font: 600 12px/14.6px var(--font);
  padding: 8px 14px;
  gap: 6px;
}

.xsmall.base {
  font: 600 11px/16.06px var(--font);
  padding: 2px 8px;
  gap: 4px;
}

.secondary {
  background: var(--green-2);
  color: #fff;
}

.secondary:hover {
  background: var(--green-1);
}

.secondary:active {
  background: var(--green-1);
}

.secondary:focus-visible {
  border: 3px solid #269D62;
}

.secondary:disabled {
  background: var(--green-2);
  cursor: default;
  border-color: transparent;
  opacity: .5;
}

.primary {
  background: #3D425A;
  color: #fff
}

.primary svg {
  stroke: #fff;
  fill: transparent;
}

.primary:hover {
  background: #252A3F;
}

.primary:focus-visible {
  background: #252A3F;
  border-color: #AAAFBE
}

.primary:disabled {
  background: #3D425A;
  border-color: #3D425A;
}

.bordered {
  color: #7F879E;
  background: #fff;
  border: 1px solid #AAAFBE;
}

.bordered svg {
  stroke: #7F879E;
  fill: transparent;
}

.big.base.bordered {
  padding: 14px 34px;
}

.medium.base.bordered {
  padding: 11px 28px;
}

.small.base.bordered {
  padding: 10px 16px;
}

.xsmall.base.bordered {
  padding: 4px 10px;
}

.bordered:hover {
  border: 1px solid #7F879E;
  color: #3D425A;
}

.bordered:hover svg {
  stroke: #3D425A;
}

.big.base.bordered:focus-visible {
  border: 3px solid #D4D7DF;
  padding: 15px 35px;
}

.medium.base.bordered:focus-visible {
  border: 3px solid #D4D7DF;
  padding: 10px 26px;
}

.small.base.bordered:focus-visible {
  border: 2px solid #D4D7DF;
  padding: 9px 15px;
}

.xsmall.base.bordered:focus-visible {
  border: 2px solid #D4D7DF;
  padding: 3px 9px;
}

.bordered:focus-visible {
  color: #3D425A;
}

.bordered:focus-visible svg {
  stroke: #3D425A;
}

.bordered:disabled {
  background: #3D425A;
  border-color: #3D425A;
}

.neutral {
  background: var(--lGrey-2);
  color: var(--grey-1);
}

.neutral svg {
  stroke: var(--grey-1);
  fill: transparent;
}

.neutral:hover {
  background: var(--lGrey-1);
}

.neutral:focus-visible {
  border: 3px solid var(--grey-3);
  background: var(--lGrey-1);
}

.neutral:disabled {
  background: var(--lGrey-2);
  opacity: .5;
}