.section {
  margin-bottom: 120px;
  padding: 0 20px;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  width: 100%;
}

.container>div {
  display: flex;
  flex-direction: column-reverse;
  gap: 90px;
  min-height: 400px;
}

.container>div:nth-child(1)>div>div {
  height: auto;
}