.container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.text, .link {
  font: 400 16px/24px var(--font);
  opacity: .5;
  transition: opacity .1s ease;
}

.link:hover {
  opacity: 1;
}

.other {
  display: flex;
  max-width: 590px;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.links {
  display: flex;
  align-items: center;
  max-width: 388px;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.networks {
  display: flex;
  gap: 20px;
  align-items: center;
}