.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  font: 700 16px/1 var(--font);
  color: var(--sBlack-3);
}

.svgContainer {
  max-width: 24px;
  max-height: 24px;
  width: 100%;
}