.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 88px;
}

.container {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}